openapi: 3.0.0
info:
  contact:
    email: support@cockroachlabs.com
    name: Cockroach Labs Support
    url: https://support.cockroachlabs.com
  description: |-
    This is an early access, experimental version of the Cloud API. The interface and output is subject to change, and there may be bugs.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  title: CockroachDB Cloud API
  version: 2022-03-31
externalDocs:
  description: Use the CockroachDB Cloud API
  url: https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.html
servers:
- url: https://cockroachlabs.cloud
security:
- Bearer: []
tags:
- name: CockroachCloud
paths:
  /api/v1/clusters:
    get:
      operationId: CockroachCloud_ListClusters
      parameters:
      - description: If `true`, show clusters that have been deleted or failed to
          initialize.
        explode: true
        in: query
        name: show_inactive
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: pagination.start_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.direction
        required: false
        schema:
          default: PAGE_DIRECTION_NEXT
          enum:
          - PAGE_DIRECTION_NEXT
          - PAGE_DIRECTION_LAST
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ' - DESC: Sort in descending order. The default order is ascending.'
        explode: true
        in: query
        name: pagination.order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List clusters owned by an organization.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters?show_inactive=SOME_BOOLEAN_VALUE&pagination.start_key=SOME_STRING_VALUE&pagination.direction=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.time=SOME_STRING_VALUE&pagination.order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_CreateCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create and initialize a new cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"name":"test-cluster","provider":"CLOUD_PROVIDER_GCP","spec":{"serverless":{"regions":["us-central1"],"spend_limit":0}}}'
  /api/v1/clusters/available-regions:
    get:
      operationId: CockroachCloud_ListAvailableRegions
      parameters:
      - description: |-
          Optional CloudProvider for filtering.

           - CLOUD_PROVIDER_GCP: The Google Cloud Platform cloud provider.
           - CLOUD_PROVIDER_AWS: The Amazon Web Services cloud provider.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: CLOUD_PROVIDER_UNSPECIFIED
          enum:
          - CLOUD_PROVIDER_UNSPECIFIED
          - CLOUD_PROVIDER_GCP
          - CLOUD_PROVIDER_AWS
          type: string
        style: form
      - description: Optional filter to only show regions available for serverless
          clusters.
        explode: true
        in: query
        name: serverless
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: pagination.start_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.direction
        required: false
        schema:
          default: PAGE_DIRECTION_NEXT
          enum:
          - PAGE_DIRECTION_NEXT
          - PAGE_DIRECTION_LAST
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ' - DESC: Sort in descending order. The default order is ascending.'
        explode: true
        in: query
        name: pagination.order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableRegionsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List the regions available for new clusters and nodes.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/available-regions?provider=SOME_STRING_VALUE&serverless=SOME_BOOLEAN_VALUE&pagination.start_key=SOME_STRING_VALUE&pagination.direction=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.time=SOME_STRING_VALUE&pagination.order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}:
    delete:
      operationId: CockroachCloud_DeleteCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a cluster and all of its data.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get extended information about a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_UpdateCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: field_mask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterSpecification'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Scale or edit a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}?field_mask=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"dedicated":{"region_nodes":{"us-west1":3,"us-central1":5},"hardware":{"machine_type":"n2-standard-8"}}}'
  /api/v1/clusters/{cluster_id}/cmek:
    get:
      operationId: CockroachCloud_GetCMEKClusterInfo
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get CMEK-related information for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_UpdateCMEKStatus
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateCMEKStatusRequest'
        content:
          application/json:
            schema:
              example:
                action: REVOKE
              properties:
                action:
                  $ref: '#/components/schemas/CMEKCustomerAction'
              required:
              - action
              title: UpdateCMEKStatusRequest
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update the CMEK-related status for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"action":"REVOKE"}'
    post:
      operationId: CockroachCloud_EnableCMEK
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CMEKClusterSpecification'
        content:
          application/json:
            schema:
              example:
                region_specs:
                - region: us-central1
                  key_spec:
                    type: AWS_KMS
                    uri: arn:aws:kms:us-west-2:111122223333:key/id-of-kms-key
                    auth_principal: arn:aws:iam::account:role/role-name-with-path
              properties:
                region_specs:
                  items:
                    $ref: '#/components/schemas/CMEKRegionSpecification'
                  type: array
              required:
              - region_specs
              title: CMEKClusterSpecification
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Enable CMEK for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"region_specs":[{"region":"us-central1","key_spec":{"type":"AWS_KMS","uri":"arn:aws:kms:us-west-2:111122223333:key/id-of-kms-key","auth_principal":"arn:aws:iam::account:role/role-name-with-path"}}]}'
  /api/v1/clusters/{cluster_id}/networking/allowlist:
    get:
      operationId: CockroachCloud_ListAllowlistEntries
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.start_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.direction
        required: false
        schema:
          default: PAGE_DIRECTION_NEXT
          enum:
          - PAGE_DIRECTION_NEXT
          - PAGE_DIRECTION_LAST
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ' - DESC: Sort in descending order. The default order is ascending.'
        explode: true
        in: query
        name: pagination.order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAllowlistEntriesResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get the IP allowlist and propagation status for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/allowlist?pagination.start_key=SOME_STRING_VALUE&pagination.direction=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.time=SOME_STRING_VALUE&pagination.order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_AddAllowlistEntry
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistEntry'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Add a new CIDR address to the IP allowlist.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/allowlist \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --data '{"cidr_ip":"192.168.1.1","cidr_mask":32,"ui":true,"sql":true,"name":"Example"}'
  /api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask}:
    delete:
      operationId: CockroachCloud_DeleteAllowlistEntry
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cidr_ip
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cidr_mask
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete an IP allowlist entry.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/allowlist/{cidr_ip}/{cidr_mask} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}/networking/allowlist/{entry.cidr_ip}/{entry.cidr_mask}:
    patch:
      operationId: CockroachCloud_UpdateAllowlistEntry
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: entry.cidr_ip
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: entry.cidr_mask
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: true
        in: query
        name: field_mask
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistEntry'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAllowlistEntryResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update an IP allowlist entry.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/allowlist/{entry.cidr_ip}/{entry.cidr_mask}?field_mask=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --data '{"cidr_ip":"192.168.1.1","cidr_mask":32,"ui":true,"sql":true,"name":"Example"}'
    put:
      operationId: CockroachCloud_AddAllowlistEntry2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: entry.cidr_ip
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: entry.cidr_mask
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistEntry'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Add a new CIDR address to the IP allowlist.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/allowlist/{entry.cidr_ip}/{entry.cidr_mask} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --data '{"cidr_ip":"192.168.1.1","cidr_mask":32,"ui":true,"sql":true,"name":"Example"}'
  /api/v1/clusters/{cluster_id}/nodes:
    get:
      operationId: CockroachCloud_ListClusterNodes
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional filter to limit response to a single region.
        explode: true
        in: query
        name: region_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.start_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.direction
        required: false
        schema:
          default: PAGE_DIRECTION_NEXT
          enum:
          - PAGE_DIRECTION_NEXT
          - PAGE_DIRECTION_LAST
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ' - DESC: Sort in descending order. The default order is ascending.'
        explode: true
        in: query
        name: pagination.order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClusterNodesResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List nodes for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/nodes?region_name=SOME_STRING_VALUE&pagination.start_key=SOME_STRING_VALUE&pagination.direction=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.time=SOME_STRING_VALUE&pagination.order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}/sql-users:
    get:
      operationId: CockroachCloud_ListSQLUsers
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.start_key
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.direction
        required: false
        schema:
          default: PAGE_DIRECTION_NEXT
          enum:
          - PAGE_DIRECTION_NEXT
          - PAGE_DIRECTION_LAST
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: ' - DESC: Sort in descending order. The default order is ascending.'
        explode: true
        in: query
        name: pagination.order
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSQLUsersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List SQL users for a cluster.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/sql-users?pagination.start_key=SOME_STRING_VALUE&pagination.direction=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.time=SOME_STRING_VALUE&pagination.order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_CreateSQLUser
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateSQLUserRequest'
        content:
          application/json:
            schema:
              example:
                user:
                  name: example_username
                password: example_password
              properties:
                user:
                  $ref: '#/components/schemas/SQLUser'
                password:
                  type: string
              required:
              - password
              - user
              title: CreateSQLUserRequest
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create a new SQL user.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/sql-users \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"user":{"name":"example_username"},"password":"example_password"}'
  /api/v1/clusters/{cluster_id}/sql-users/{name}:
    delete:
      operationId: CockroachCloud_DeleteSQLUser
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a SQL user.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/sql-users/{name} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}/sql-users/{name}/password:
    put:
      operationId: CockroachCloud_UpdateSQLUserPassword
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateSQLUserPasswordRequest'
        content:
          application/json:
            schema:
              example:
                password: example_new_password
              properties:
                password:
                  type: string
              required:
              - password
              title: UpdateSQLUserPasswordRequest
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "5XX":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update a SQL user's password.
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/sql-users/{name}/password \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"password":"example_new_password"}'
components:
  requestBodies:
    AllowlistEntry:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AllowlistEntry'
      required: true
    CMEKClusterSpecification:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CMEKClusterSpecification'
      required: true
    UpdateCMEKStatusRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCMEKStatusRequest'
      required: true
    CreateSQLUserRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateSQLUserRequest'
      required: true
    UpdateSQLUserPasswordRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateSQLUserPasswordRequest'
      required: true
  schemas:
    AllowlistEntry:
      example:
        cidr_ip: 192.168.1.1
        cidr_mask: 32
        ui: true
        sql: true
        name: Example
      properties:
        cidr_ip:
          type: string
        cidr_mask:
          format: int32
          type: integer
        ui:
          type: boolean
        sql:
          type: boolean
        name:
          type: string
      required:
      - cidr_ip
      - sql
      - ui
      title: AllowlistEntry
      type: object
    Any:
      additionalProperties: {}
      properties:
        '@type':
          type: string
      type: object
    CMEKClusterInfo:
      description: |-
        CMEKClusterInfo contains the status of CMEK across an entire cluster,
        including within each one its regions.
      example:
        region_infos:
        - region: region
          key_infos:
          - updated_at: 2000-01-23T04:56:07.000+00:00
            user_message: user_message
            created_at: 2000-01-23T04:56:07.000+00:00
            spec:
              auth_principal: auth_principal
              uri: uri
          - updated_at: 2000-01-23T04:56:07.000+00:00
            user_message: user_message
            created_at: 2000-01-23T04:56:07.000+00:00
            spec:
              auth_principal: auth_principal
              uri: uri
        - region: region
          key_infos:
          - updated_at: 2000-01-23T04:56:07.000+00:00
            user_message: user_message
            created_at: 2000-01-23T04:56:07.000+00:00
            spec:
              auth_principal: auth_principal
              uri: uri
          - updated_at: 2000-01-23T04:56:07.000+00:00
            user_message: user_message
            created_at: 2000-01-23T04:56:07.000+00:00
            spec:
              auth_principal: auth_principal
              uri: uri
      properties:
        status:
          $ref: '#/components/schemas/CMEKStatus'
        region_infos:
          items:
            $ref: '#/components/schemas/CMEKRegionInfo'
          type: array
      type: object
    CMEKCustomerAction:
      default: UNKNOWN_ACTION
      description: |-
        CMEKCustomerAction enumerates the actions a customer can take on a cluster
        that has been enabled for CMEK.
      enum:
      - UNKNOWN_ACTION
      - REVOKE
      type: string
    CMEKKeyInfo:
      description: |-
        CMEKKeyInfo contains the status of a customer-provided key alongside the
        specification.
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        user_message: user_message
        created_at: 2000-01-23T04:56:07.000+00:00
        spec:
          auth_principal: auth_principal
          uri: uri
      properties:
        status:
          $ref: '#/components/schemas/CMEKStatus'
        user_message:
          type: string
        spec:
          $ref: '#/components/schemas/CMEKKeySpecification'
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    CMEKKeySpecification:
      description: |-
        CMEKKeySpecification contains all the details necessary to use a customer-provided
        encryption key. This involves the type/location of the key and the principal
        to authenticate as when accessing it.
      example:
        auth_principal: auth_principal
        uri: uri
      properties:
        type:
          $ref: '#/components/schemas/CMEKKeyType'
        uri:
          type: string
        auth_principal:
          type: string
      type: object
    CMEKKeyType:
      default: UNKNOWN_KEY_TYPE
      description: |-
        CMEKKeyType enumerates types of customer-managed keys.

         - UNKNOWN_KEY_TYPE: UNKNOWN should never be used; if it is used, it indicates a bug.
      enum:
      - UNKNOWN_KEY_TYPE
      - AWS_KMS
      - GCP_CLOUD_KMS
      type: string
    CMEKRegionInfo:
      description: |-
        CMEKRegionInfo contains the status of CMEK within a region. This includes
        current and past key specifications used within the region, as well as the
        status of those specifications.
      example:
        region: region
        key_infos:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          user_message: user_message
          created_at: 2000-01-23T04:56:07.000+00:00
          spec:
            auth_principal: auth_principal
            uri: uri
        - updated_at: 2000-01-23T04:56:07.000+00:00
          user_message: user_message
          created_at: 2000-01-23T04:56:07.000+00:00
          spec:
            auth_principal: auth_principal
            uri: uri
      properties:
        region:
          type: string
        key_infos:
          items:
            $ref: '#/components/schemas/CMEKKeyInfo'
          type: array
      type: object
    CMEKRegionSpecification:
      description: |-
        CMEKRegionSpecification declares the customer-provided key specification that
        should be used in a given region.
      properties:
        region:
          type: string
        key_spec:
          $ref: '#/components/schemas/CMEKKeySpecification'
      type: object
    CMEKStatus:
      default: UNKNOWN_STATUS
      description: |-
        CMEKStatus describes the current status of CMEK for an entire CRDB cluster
        or a key within a region.

         - UNKNOWN_STATUS: UNKNOWN should never be used; if it is used, it indicates a bug.
         - DISABLED: DISABLED corresponds to the state of a cluster or region-level key
        when CMEK has finished being disabled. By default, CMEK will be disabled
        for new clusters.
         - DISABLING: DISABLED corresponds to the state of a cluster or region-level key
        when CMEK is in the process of being disabled.
         - DISABLE_FAILED: DISABLE_FAILED corresponds to the state of a cluster or region-level key
        when CMEK has failed to be disabled.
         - ENABLED: ENABLED corresponds to the state of a cluster or region-level key
        when CMEK is enabled.
         - ENABLING: ENABLING corresponds to the state of a cluster or region-level key
        when CMEK is in the process of being enabled.
         - ENABLE_FAILED: ENABLE_FAILED corresponds to the state of a cluster or region-level key
        when CMEK has failed to be enabled.
         - REVOKED: REVOKED corresponds to the state of a cluster or region-level key
        when the customer has revoked CockroachLab's permissions for their key.
         - REVOKING: REVOKING corresponds to the state of a cluster or region-level key
        when CMEK is in the process of being revoked.
         - REVOKE_FAILED: REVOKE_FAILED corresponds to the state of a cluster or region-level key
        when CMEK has failed to be revoked.
      enum:
      - UNKNOWN_STATUS
      - DISABLED
      - DISABLING
      - DISABLE_FAILED
      - ENABLED
      - ENABLING
      - ENABLE_FAILED
      - REVOKED
      - REVOKING
      - REVOKE_FAILED
      type: string
    CloudProviderRegion:
      example:
        distance: 0.8008282
        name: name
        serverless: true
        location: location
      properties:
        name:
          type: string
        location:
          type: string
        provider:
          $ref: '#/components/schemas/api.CloudProvider'
        serverless:
          type: boolean
        distance:
          format: float
          title: Distance in miles, based on client IP address
          type: number
      required:
      - distance
      - location
      - name
      - provider
      - serverless
      type: object
    Cluster:
      example:
        id: 35c4abb2-bb66-46d7-afed-25ebef5ed2aa
        name: example-cluster
        cockroach_version: v21.2.4
        plan: PLAN_SERVERLESS
        cloud_provider: CLOUD_PROVIDER_GCP
        account_id: ""
        state: CLUSTER_STATE_CREATED
        creator_id: 7cde0cd9-0d8a-4008-8f90-45092ce8afc1
        operation_status: CLUSTER_STATUS_UNSPECIFIED
        config:
          serverless:
            spend_limit: 0
            routing_id: example-cluster-1533
        regions:
        - name: us-central1
          sql_dns: free-tier7.gcp-us-central1.crdb.io
          ui_dns: ""
          node_count: 0
        created_at: 2022-03-22T20:23:11.285067Z
        updated_at: 2022-03-22T20:23:11.879593Z
        deleted_at: null
      properties:
        id:
          type: string
        name:
          type: string
        cockroach_version:
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        cloud_provider:
          $ref: '#/components/schemas/api.CloudProvider'
        account_id:
          type: string
        state:
          $ref: '#/components/schemas/ClusterStateType'
        creator_id:
          type: string
        operation_status:
          $ref: '#/components/schemas/ClusterStatusType'
        config:
          $ref: '#/components/schemas/ClusterConfig'
        regions:
          items:
            $ref: '#/components/schemas/Region'
          type: array
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        deleted_at:
          format: date-time
          type: string
      required:
      - cloud_provider
      - cockroach_version
      - config
      - creator_id
      - id
      - name
      - operation_status
      - plan
      - regions
      - state
      type: object
    ClusterConfig:
      properties:
        dedicated:
          $ref: '#/components/schemas/DedicatedHardwareConfig'
        serverless:
          $ref: '#/components/schemas/ServerlessClusterConfig'
      type: object
    ClusterStateType:
      default: CLUSTER_STATE_UNSPECIFIED
      description: |2-
         - CLUSTER_STATE_LOCKED: An exclusive operation is being performed on this cluster.
        Other operations should not proceed if they did not set a cluster into the LOCKED state.
      enum:
      - CLUSTER_STATE_UNSPECIFIED
      - CLUSTER_STATE_CREATING
      - CLUSTER_STATE_CREATED
      - CLUSTER_STATE_CREATION_FAILED
      - CLUSTER_STATE_DELETED
      - CLUSTER_STATE_LOCKED
      type: string
    ClusterStatusType:
      default: CLUSTER_STATUS_UNSPECIFIED
      enum:
      - CLUSTER_STATUS_UNSPECIFIED
      - CLUSTER_STATUS_CRDB_MAJOR_UPGRADE_RUNNING
      - CLUSTER_STATUS_CRDB_MAJOR_UPGRADE_FAILED
      - CLUSTER_STATUS_CRDB_MAJOR_ROLLBACK_RUNNING
      - CLUSTER_STATUS_CRDB_MAJOR_ROLLBACK_FAILED
      - CLUSTER_STATUS_CRDB_PATCH_RUNNING
      - CLUSTER_STATUS_CRDB_PATCH_FAILED
      - CLUSTER_STATUS_CRDB_SCALE_RUNNING
      - CLUSTER_STATUS_CRDB_SCALE_FAILED
      - CLUSTER_STATUS_MAINTENANCE_RUNNING
      - CLUSTER_STATUS_CRDB_INSTANCE_UPDATE_RUNNING
      - CLUSTER_STATUS_CRDB_INSTANCE_UPDATE_FAILED
      - CLUSTER_STATUS_CRDB_EDIT_CLUSTER_RUNNING
      - CLUSTER_STATUS_CRDB_EDIT_CLUSTER_FAILED
      - CLUSTER_STATUS_CRDB_CMEK_OPERATION_RUNNING
      - CLUSTER_STATUS_CRDB_CMEK_OPERATION_FAILED
      type: string
    CreateClusterRequest:
      example:
        name: test-cluster
        provider: CLOUD_PROVIDER_GCP
        spec:
          serverless:
            regions:
            - us-central1
            spend_limit: 0
      properties:
        name:
          type: string
        provider:
          $ref: '#/components/schemas/api.CloudProvider'
        spec:
          $ref: '#/components/schemas/CreateClusterSpecification'
      required:
      - name
      - provider
      - spec
      title: CreateClusterRequest
      type: object
    CreateClusterSpecification:
      properties:
        dedicated:
          $ref: '#/components/schemas/DedicatedClusterCreateSpecification'
        serverless:
          $ref: '#/components/schemas/ServerlessClusterSpecification'
      type: object
    DedicatedClusterCreateSpecification:
      properties:
        region_nodes:
          additionalProperties:
            format: int32
            type: integer
          description: |-
            Region keys should match the cloud provider's zone code.
            For example, for Oregon, set region_name to "us-west2" for
            GCP and "us-west-2" for AWS. Values represent the node count.
          type: object
        hardware:
          $ref: '#/components/schemas/DedicatedHardwareCreateSpecification'
        cockroach_version:
          description: |-
            The CockroachDB version for the cluster. The current version
            is used if omitted.
          type: string
      required:
      - hardware
      - region_nodes
      type: object
    DedicatedClusterUpdateSpecification:
      properties:
        region_nodes:
          additionalProperties:
            format: int32
            type: integer
          description: |-
            Region keys should match the cloud provider's zone code.
            For example, for Oregon, set region_name to "us-west2" for
            GCP and "us-west-2" for AWS. Values represent the node count.
          type: object
        hardware:
          $ref: '#/components/schemas/DedicatedHardwareUpdateSpecification'
      type: object
    DedicatedHardwareConfig:
      properties:
        machine_type:
          description: |-
            MachineType is the machine type identifier within the given cloud
            provider, ex. m5.xlarge, n2-standard-4.
          type: string
        num_virtual_cpus:
          description: NumVirtualCPUs is the number of virtual CPUs per node in the
            cluster.
          format: int32
          type: integer
        storage_gib:
          description: StorageGiB is the number of storage GiB per node in the cluster.
          format: int32
          type: integer
        memory_gib:
          description: MemoryGiB is the memory GiB per node in the cluster.
          format: float
          type: number
        disk_iops:
          description: |-
            DiskIOPs is the number of disk I/O operations per second that are
            permitted on each node in the cluster. Zero indicates the cloud
            provider-specific default.
          format: int32
          type: integer
      required:
      - disk_iops
      - machine_type
      - memory_gib
      - num_virtual_cpus
      - storage_gib
      type: object
    DedicatedHardwareCreateSpecification:
      properties:
        machine_spec:
          $ref: '#/components/schemas/DedicatedMachineTypeSpecification'
        storage_gib:
          description: StorageGiB is the number of storage GiB per node in the cluster.
          format: int32
          type: integer
        disk_iops:
          description: |-
            DiskIOPs is the number of disk I/O operations per second that are
            permitted on each node in the cluster. Zero indicates the cloud
            provider-specific default. Only available for AWS clusters.
          format: int32
          type: integer
      required:
      - machine_spec
      - storage_gib
      type: object
    DedicatedHardwareUpdateSpecification:
      properties:
        machine_spec:
          $ref: '#/components/schemas/DedicatedMachineTypeSpecification'
        storage_gib:
          description: StorageGiB is the number of storage GiB per node in the cluster.
          format: int32
          type: integer
        disk_iops:
          description: |-
            DiskIOPs is the number of disk I/O operations per second that are
            permitted on each node in the cluster. Zero indicates the cloud
            provider-specific default. Only available for AWS clusters.
          format: int32
          type: integer
      type: object
    DedicatedMachineTypeSpecification:
      properties:
        machine_type:
          description: |-
            MachineType is the machine type identifier within the given cloud
            provider, ex. m5.xlarge, n2-standard-4.
          type: string
        num_virtual_cpus:
          description: |-
            NumVirtualCPUs may be used to automatically select a machine type
            according to the desired number of vCPUs.
          format: int32
          type: integer
      type: object
    KeysetPaginationRequest:
      properties:
        start_key:
          type: string
        direction:
          $ref: '#/components/schemas/PageDirection'
        limit:
          format: int32
          type: integer
        time:
          format: date-time
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
      type: object
    KeysetPaginationResponse:
      example:
        next: next
        last: last
        limit: 0
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        next:
          type: string
        last:
          type: string
        limit:
          format: int32
          type: integer
        time:
          format: date-time
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
      type: object
    ListAllowlistEntriesResponse:
      example:
        allowlist:
        - cidr_ip: 192.168.1.1
          cidr_mask: 32
          ui: true
          sql: true
          name: Example
        - cidr_ip: 192.168.1.1
          cidr_mask: 32
          ui: true
          sql: true
          name: Example
        pagination:
          next: next
          last: last
          limit: 0
          time: 2000-01-23T04:56:07.000+00:00
        propagating: true
      properties:
        allowlist:
          items:
            $ref: '#/components/schemas/AllowlistEntry'
          type: array
        propagating:
          type: boolean
        pagination:
          $ref: '#/components/schemas/KeysetPaginationResponse'
      required:
      - allowlist
      - propagating
      title: ListAllowlistEntriesResponse
      type: object
    ListAvailableRegionsResponse:
      example:
        regions:
        - distance: 0.8008282
          name: name
          serverless: true
          location: location
        - distance: 0.8008282
          name: name
          serverless: true
          location: location
        pagination:
          next: next
          last: last
          limit: 0
          time: 2000-01-23T04:56:07.000+00:00
      properties:
        regions:
          items:
            $ref: '#/components/schemas/CloudProviderRegion'
          type: array
        pagination:
          $ref: '#/components/schemas/KeysetPaginationResponse'
      required:
      - regions
      type: object
    ListClusterNodesResponse:
      example:
        nodes:
        - name: name
          region_name: region_name
        - name: name
          region_name: region_name
        pagination:
          next: next
          last: last
          limit: 0
          time: 2000-01-23T04:56:07.000+00:00
      properties:
        nodes:
          items:
            $ref: '#/components/schemas/Node'
          type: array
        pagination:
          $ref: '#/components/schemas/KeysetPaginationResponse'
      required:
      - nodes
      type: object
    ListClustersResponse:
      example:
        pagination:
          next: next
          last: last
          limit: 0
          time: 2000-01-23T04:56:07.000+00:00
        clusters:
        - id: 35c4abb2-bb66-46d7-afed-25ebef5ed2aa
          name: example-cluster
          cockroach_version: v21.2.4
          plan: PLAN_SERVERLESS
          cloud_provider: CLOUD_PROVIDER_GCP
          account_id: ""
          state: CLUSTER_STATE_CREATED
          creator_id: 7cde0cd9-0d8a-4008-8f90-45092ce8afc1
          operation_status: CLUSTER_STATUS_UNSPECIFIED
          config:
            serverless:
              spend_limit: 0
              routing_id: example-cluster-1533
          regions:
          - name: us-central1
            sql_dns: free-tier7.gcp-us-central1.crdb.io
            ui_dns: ""
            node_count: 0
          created_at: 2022-03-22T20:23:11.285067Z
          updated_at: 2022-03-22T20:23:11.879593Z
          deleted_at: null
        - id: 35c4abb2-bb66-46d7-afed-25ebef5ed2aa
          name: example-cluster
          cockroach_version: v21.2.4
          plan: PLAN_SERVERLESS
          cloud_provider: CLOUD_PROVIDER_GCP
          account_id: ""
          state: CLUSTER_STATE_CREATED
          creator_id: 7cde0cd9-0d8a-4008-8f90-45092ce8afc1
          operation_status: CLUSTER_STATUS_UNSPECIFIED
          config:
            serverless:
              spend_limit: 0
              routing_id: example-cluster-1533
          regions:
          - name: us-central1
            sql_dns: free-tier7.gcp-us-central1.crdb.io
            ui_dns: ""
            node_count: 0
          created_at: 2022-03-22T20:23:11.285067Z
          updated_at: 2022-03-22T20:23:11.879593Z
          deleted_at: null
      properties:
        clusters:
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
        pagination:
          $ref: '#/components/schemas/KeysetPaginationResponse'
      required:
      - clusters
      type: object
    ListSQLUsersResponse:
      example:
        pagination:
          next: next
          last: last
          limit: 0
          time: 2000-01-23T04:56:07.000+00:00
        users:
        - name: name
        - name: name
      properties:
        users:
          items:
            $ref: '#/components/schemas/SQLUser'
          type: array
        pagination:
          $ref: '#/components/schemas/KeysetPaginationResponse'
      required:
      - users
      type: object
    Node:
      example:
        name: name
        region_name: region_name
      properties:
        name:
          type: string
        region_name:
          type: string
        status:
          $ref: '#/components/schemas/NodeStatus'
      required:
      - name
      - region_name
      - status
      type: object
    NodeStatus:
      default: NODE_STATUS_UNSPECIFIED
      enum:
      - NODE_STATUS_UNSPECIFIED
      - NODE_STATUS_LIVE
      - NODE_STATUS_NOT_READY
      type: string
    PageDirection:
      default: PAGE_DIRECTION_NEXT
      enum:
      - PAGE_DIRECTION_NEXT
      - PAGE_DIRECTION_LAST
      type: string
    Plan:
      default: PLAN_UNSPECIFIED
      description: " - PLAN_DEDICATED: A paid plan that offers dedicated hardware\
        \ in any location.\n - PLAN_CUSTOM: A plan option that is used for clusters\
        \ whose machine configs are not \nsupported in self-service. All INVOICE clusters\
        \ are under this plan option.\n - PLAN_SERVERLESS: A paid plan that runs on\
        \ shared hardware and caps the users'\nmaximum monthly spending to a user-specified\
        \ (possibly 0) amount."
      enum:
      - PLAN_UNSPECIFIED
      - PLAN_DEDICATED
      - PLAN_CUSTOM
      - PLAN_SERVERLESS
      type: string
    Region:
      properties:
        name:
          type: string
        sql_dns:
          type: string
        ui_dns:
          type: string
        node_count:
          description: NodeCount will be 0 for serverless clusters.
          format: int32
          type: integer
      required:
      - name
      - node_count
      - sql_dns
      - ui_dns
      type: object
    SQLUser:
      example:
        name: name
      properties:
        name:
          type: string
      required:
      - name
      type: object
    ServerlessClusterConfig:
      properties:
        spend_limit:
          description: Spend limit in US cents.
          format: int32
          type: integer
        routing_id:
          description: Used to build a connection string.
          type: string
      required:
      - routing_id
      - spend_limit
      type: object
    ServerlessClusterSpecification:
      properties:
        regions:
          description: |-
            Region values should match the cloud provider's zone code.
            For example, for Oregon, set region_name to "us-west2" for
            GCP and "us-west-2" for AWS.
          items:
            type: string
          type: array
        spend_limit:
          format: int32
          title: Spend limit in US cents
          type: integer
      required:
      - regions
      - spend_limit
      type: object
    SortOrder:
      default: ASC
      description: ' - DESC: Sort in descending order. The default order is ascending.'
      enum:
      - ASC
      - DESC
      type: string
    Status:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
    UpdateAllowlistEntryResponse:
      example:
        entry:
          cidr_ip: 192.168.1.1
          cidr_mask: 32
          ui: true
          sql: true
          name: Example
      properties:
        entry:
          $ref: '#/components/schemas/AllowlistEntry'
      required:
      - entry
      title: UpdateAllowlistEntryResponse
      type: object
    UpdateClusterSpecification:
      example:
        dedicated:
          region_nodes:
            us-west1: 3
            us-central1: 5
          hardware:
            machine_type: n2-standard-8
      properties:
        dedicated:
          $ref: '#/components/schemas/DedicatedClusterUpdateSpecification'
        serverless:
          $ref: '#/components/schemas/ServerlessClusterSpecification'
      type: object
    api.CloudProvider:
      default: CLOUD_PROVIDER_UNSPECIFIED
      description: |2-
         - CLOUD_PROVIDER_GCP: The Google Cloud Platform cloud provider.
         - CLOUD_PROVIDER_AWS: The Amazon Web Services cloud provider.
      enum:
      - CLOUD_PROVIDER_UNSPECIFIED
      - CLOUD_PROVIDER_GCP
      - CLOUD_PROVIDER_AWS
      type: string
    CMEKClusterSpecification:
      example:
        region_specs:
        - region: us-central1
          key_spec:
            type: AWS_KMS
            uri: arn:aws:kms:us-west-2:111122223333:key/id-of-kms-key
            auth_principal: arn:aws:iam::account:role/role-name-with-path
      properties:
        region_specs:
          items:
            $ref: '#/components/schemas/CMEKRegionSpecification'
          type: array
      required:
      - region_specs
      title: CMEKClusterSpecification
      type: object
    UpdateCMEKStatusRequest:
      example:
        action: REVOKE
      properties:
        action:
          $ref: '#/components/schemas/CMEKCustomerAction'
      required:
      - action
      title: UpdateCMEKStatusRequest
      type: object
    CreateSQLUserRequest:
      example:
        user:
          name: example_username
        password: example_password
      properties:
        user:
          $ref: '#/components/schemas/SQLUser'
        password:
          type: string
      required:
      - password
      - user
      title: CreateSQLUserRequest
      type: object
    UpdateSQLUserPasswordRequest:
      example:
        password: example_new_password
      properties:
        password:
          type: string
      required:
      - password
      title: UpdateSQLUserPasswordRequest
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
