openapi: 3.0.0
info:
  contact:
    email: support@cockroachlabs.com
    name: Cockroach Labs Support
    url: https://support.cockroachlabs.com
  description: An API for managing CockroachDB Cloud resources
  title: CockroachDB Cloud API
  version: 2023-04-10
externalDocs:
  description: Use the CockroachDB Cloud API
  url: https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.html
servers:
- url: https://cockroachlabs.cloud
security:
- Bearer: []
tags:
- name: CockroachCloud
paths:
  /api/scim/v2/Groups:
    get:
      operationId: CockroachCloud_GetGroups
      parameters:
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets groups based on query parameters
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Groups?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_CreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Creates a group
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"displayName":"Test SCIM","members":[],"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group"]}'
  /api/scim/v2/Groups/.search:
    put:
      operationId: CockroachCloud_GetGroups2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets groups based on query parameters
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups/.search \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"attributes":"string","excludedAttributes":"string"}'
  /api/scim/v2/Groups/{id}:
    delete:
      operationId: CockroachCloud_DeleteGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Deletes a group based on id
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets a group based on id
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Groups/{id}?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_PatchGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Updates a group by specifying individual values to update
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"Operations":[{"op":"string","path":"string","value":{"@type":"string","property1":null,"property2":null}}],"schemas":["string"]}'
    put:
      operationId: CockroachCloud_UpdateGroup
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Updates a group by supplying all values of the user object
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"displayName":"Test SCIM","id":"23a35c27-23d3-4c03-b4c5-6443c09e7173","members":[{"display":"croach@example.com","value":"45a35c27-23d3-4d03-c4c5-9043c09e7175"}],"schemas":["urn:ietf:params:scim:schemas:core:2.0:Group"]}'
  /api/scim/v2/Groups/{id}/.search:
    put:
      operationId: CockroachCloud_GetGroup2
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGroupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets a group based on id
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Groups/{id}/.search \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"attributes":"string","excludedAttributes":"string"}'
  /api/scim/v2/ResourceTypes:
    get:
      operationId: CockroachCloud_GetResourceTypes
      parameters:
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResourceTypesResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/ResourceTypes?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/scim/v2/ResourceTypes/{resourceId}:
    get:
      operationId: CockroachCloud_GetResourceType
      parameters:
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimResourceType'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/ResourceTypes/{resourceId}?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/scim/v2/Schemas:
    get:
      operationId: CockroachCloud_GetSchemas
      parameters:
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSchemasResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Schemas?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/scim/v2/Schemas/{schemaId}:
    get:
      operationId: CockroachCloud_GetSchema
      parameters:
      - explode: false
        in: path
        name: schemaId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimSchema'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Schemas/{schemaId}?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/scim/v2/ServiceProviderConfig:
    get:
      operationId: CockroachCloud_GetServiceProviderConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetServiceProviderConfigResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Returns our SCIM configuration
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/scim/v2/ServiceProviderConfig \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/scim/v2/Users:
    get:
      operationId: CockroachCloud_GetUsers
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets Users based on query parameters
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Users?filter=SOME_STRING_VALUE&attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Creates a user
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/scim/v2/Users \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"active":true,"displayName":"Carl Roach","emails":[{"primary":true,"type":"work","value":"croach@example.com"}],"externalId":"11ujl29u0le5T6Aj10h9","name":{"familyName":"Roach","givenName":"Carl"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User"],"userName":"croach@example.com"}'
  /api/scim/v2/Users/.search:
    put:
      operationId: CockroachCloud_GetUsers2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUsersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets Users based on query parameters
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Users/.search \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"attributes":"string","excludedAttributes":"string","filter":"string"}'
  /api/scim/v2/Users/{id}:
    delete:
      operationId: CockroachCloud_DeleteUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Deletes a user based on id
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/scim/v2/Users/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: attributes
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: excludedAttributes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets a user based on id
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/scim/v2/Users/{id}?attributes=SOME_STRING_VALUE&excludedAttributes=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_PatchUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Updates a user by specifying individual values to update
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/scim/v2/Users/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"Operations":[{"op":"string","path":"string","value":{"@type":"string","property1":null,"property2":null}}],"schemas":["string"]}'
    put:
      operationId: CockroachCloud_UpdateUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Updates a user by supplying all values of the user object
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Users/{id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"active":true,"emails":[{"display":"croach@example.com","primary":true,"type":"work","value":"croach@example.com"}],"name":{"familyName":"Roach","givenName":"Carl"},"schemas":["urn:ietf:params:scim:schemas:core:2.0:User"]}'
  /api/scim/v2/Users/{id}/.search:
    put:
      operationId: CockroachCloud_GetUser2
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Gets a user based on id
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/scim/v2/Users/{id}/.search \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"attributes":"string","excludedAttributes":"string"}'
  /api/v1/auditlogevents:
    get:
      operationId: CockroachCloud_ListAuditLogs
      parameters:
      - description: |-
          starting_from is the (exclusive) timestamp from which log entries will be
          returned in the response based on their created_at time, respecting the
          sort order specified in pagination. If unset, the default will be the
          current time if results are returned in descending order and the
          beginning of time if results are in ascending order.
        explode: true
        in: query
        name: starting_from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          sort_order is the direction of pagination, with starting_from as the
          start point. If unset, the default is ascending order.

           - ASC: Sort in ascending order. This is the default unless otherwise specified.
           - DESC: Sort in descending order.
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: |-
          limit is the number of entries requested in the response. Note that the
          response may still contain slightly more results, since the response will
          always contain every entry at a particular timestamp.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: "Limited Access: List audit logs."
      tags:
      - CockroachCloud
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/auditlogevents?starting_from=SOME_STRING_VALUE&sort_order=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/cluster-versions:
    get:
      description: "Sort order: Version number descending"
      operationId: CockroachCloud_ListMajorClusterVersions
      parameters:
      - explode: true
        in: query
        name: pagination.page
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.as_of_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - ASC: Sort in ascending order. This is the default unless otherwise specified.
           - DESC: Sort in descending order.
        explode: true
        in: query
        name: pagination.sort_order
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMajorClusterVersionsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List available major cluster versions
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/cluster-versions?pagination.page=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.as_of_time=SOME_STRING_VALUE&pagination.sort_order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters:
    get:
      description: "Sort order: Cluster name"
      operationId: CockroachCloud_ListClusters
      parameters:
      - description: "If `true`, show clusters that have been deleted or failed to\
          \ initialize."
        explode: true
        in: query
        name: show_inactive
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: pagination.page
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.as_of_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - ASC: Sort in ascending order. This is the default unless otherwise specified.
           - DESC: Sort in descending order.
        explode: true
        in: query
        name: pagination.sort_order
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListClustersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List clusters owned by an organization
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters?show_inactive=SOME_BOOLEAN_VALUE&pagination.page=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.as_of_time=SOME_STRING_VALUE&pagination.sort_order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_CreateCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create and initialize a new cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"name":"test-cluster","provider":"GCP","spec":{"serverless":{"regions":["us-central1"],"spend_limit":0}}}'
  /api/v1/clusters/available-regions:
    get:
      description: "Sort order: Distance (based on client IP address)"
      operationId: CockroachCloud_ListAvailableRegions
      parameters:
      - description: |-
          Optional CloudProvider for filtering.

           - GCP: The Google Cloud Platform cloud provider.
           - AWS: The Amazon Web Services cloud provider.
           - AZURE: Limited Access: The Azure cloud provider.
        explode: true
        in: query
        name: provider
        required: false
        schema:
          enum:
          - GCP
          - AWS
          - AZURE
          type: string
        style: form
      - description: Optional filter to only show regions available for serverless
          clusters.
        explode: true
        in: query
        name: serverless
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: pagination.page
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.as_of_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - ASC: Sort in ascending order. This is the default unless otherwise specified.
           - DESC: Sort in descending order.
        explode: true
        in: query
        name: pagination.sort_order
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableRegionsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List the regions available for new clusters and nodes
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/available-regions?provider=SOME_STRING_VALUE&serverless=SOME_BOOLEAN_VALUE&pagination.page=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.as_of_time=SOME_STRING_VALUE&pagination.sort_order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}:
    delete:
      operationId: CockroachCloud_DeleteCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a cluster and all of its data
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get extended information about a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_UpdateCluster
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterSpecification'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Scale or edit a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"dedicated":{"hardware":{"machine_spec":{"machine_type":"n2-standard-8"}},"region_nodes":{"us-central1":5,"us-west1":3}},"upgrade_status":"UPGRADE_RUNNING"}'
  /api/v1/clusters/{cluster_id}/client-ca-cert:
    delete:
      operationId: CockroachCloud_DeleteClientCACert
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCACertInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete Client CA Cert for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/client-ca-cert \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetClientCACert
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCACertInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get Client CA Cert information for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/client-ca-cert \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_UpdateClientCACert
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientCACertRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCACertInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update Client CA Cert for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/client-ca-cert \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"x509_pem_cert":"-----BEGIN CERTIFICATE-----..."}'
    post:
      operationId: CockroachCloud_SetClientCACert
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetClientCACertRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCACertInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Set Client CA Cert for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/client-ca-cert \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"x509_pem_cert":"-----BEGIN CERTIFICATE-----..."}'
  /api/v1/clusters/{cluster_id}/cmek:
    get:
      operationId: CockroachCloud_GetCMEKClusterInfo
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get CMEK-related information for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_UpdateCMEKStatus
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCMEKStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update the CMEK-related status for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"action":"REVOKE"}'
    post:
      operationId: CockroachCloud_EnableCMEKSpec
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CMEKClusterSpecification'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Enable CMEK for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --data '{"region_specs":[{"key_spec":{"auth_principal":"arn:aws:iam::account:role/role-name-with-path","type":"AWS_KMS","uri":"arn:aws:kms:us-west-2:111122223333:key/id-of-kms-key"},"region":"us-central1"}]}'
    put:
      operationId: CockroachCloud_UpdateCMEKSpec
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CMEKClusterSpecification'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMEKClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Enable or update the CMEK spec for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PUT \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/cmek \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --data '{"region_specs":[{"key_spec":{"auth_principal":"arn:aws:iam::account:role/role-name-with-path","type":"AWS_KMS","uri":"arn:aws:kms:us-west-2:111122223333:key/id-of-kms-key"},"region":"us-central1"}]}'
  /api/v1/clusters/{cluster_id}/connection-string:
    get:
      operationId: CockroachCloud_GetConnectionString
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: database
        required: false
        schema:
          default: defaultdb
          type: string
        style: form
      - explode: true
        in: query
        name: sql_user
        required: false
        schema:
          type: string
        style: form
      - description: |-
          os indicates the target operating system, used with formatting the default SSL certificate path.
          Required only for dedicated clusters.
        explode: true
        in: query
        name: os
        required: false
        schema:
          enum:
          - MAC
          - LINUX
          - WINDOWS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectionStringResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get a formatted generic connection string for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/connection-string?database=SOME_STRING_VALUE&sql_user=SOME_STRING_VALUE&os=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
  /api/v1/clusters/{cluster_id}/databases:
    get:
      description: "Sort order: Database name ascending"
      operationId: CockroachCloud_ListDatabases
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pagination.page
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pagination.limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pagination.as_of_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - ASC: Sort in ascending order. This is the default unless otherwise specified.
           - DESC: Sort in descending order.
        explode: true
        in: query
        name: pagination.sort_order
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ListDatabasesResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List databases for a cluster
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url 'https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/databases?pagination.page=SOME_STRING_VALUE&pagination.limit=SOME_INTEGER_VALUE&pagination.as_of_time=SOME_STRING_VALUE&pagination.sort_order=SOME_STRING_VALUE' \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_EditDatabase2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Database'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update a database
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/databases \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"name":"example_database_name","new_name":"example_new_database_name"}'
    post:
      operationId: CockroachCloud_CreateDatabase
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Database'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create a new database
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/databases \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"name":"example_database_name"}'
  /api/v1/clusters/{cluster_id}/databases/{name}:
    delete:
      operationId: CockroachCloud_DeleteDatabase
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Database'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a database
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/databases/{name} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    patch:
      operationId: CockroachCloud_EditDatabase
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseRequest_1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Database'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update a database
      tags:
      - CockroachCloud
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request PATCH \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/databases/{name} \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"name":"example_database_name","new_name":"example_new_database_name"}'
  /api/v1/clusters/{cluster_id}/logexport:
    delete:
      operationId: CockroachCloud_DeleteLogExport
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExportClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete the Log Export configuration for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request DELETE \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/logexport \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    get:
      operationId: CockroachCloud_GetLogExportInfo
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExportClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get the Log Export configuration for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request GET \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/logexport \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
    post:
      operationId: CockroachCloud_EnableLogExport
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableLogExportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogExportClusterInfo'
          description: A successful response.
        "400":
          content:
            application/json:
              schema: {}
          description: Returned when a request field is invalid.
        "401":
          content:
            application/json:
              schema: {}
          description: Returned when the token bearer cannot be authenticated.
        "403":
          content:
            application/json:
              schema: {}
          description: Returned when the user does not have permission to access the
            resource.
        "404":
          content:
            application/json:
              schema: {}
          description: Returned when the resource does not exist.
        "500":
          content:
            application/json:
              schema: {}
          description: Server error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create or update the Log Export configuration for a cluster
      tags:
      - CockroachCloud
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: |-
          curl --request POST \
            --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/logexport \
            --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
            --header 'content-type: application/json' \
            --data '{"auth_principal":"my-gcp-project-id","groups":[{"channels":["OPS","HEALTH"],"log_name":"devops","min_level":"WARNING"}],"log_name":"default","redact":true,"type":"GCP_CLOUD_LOGGING"}'
[...]
