// This template replaces the default api.mustache.
// Files output using this template will be ignored and not 
// included in source.

// API operation code is instead templated in service.mustache.
