{{>partial_header}}
package {{packageName}}

import (
	"encoding/json"
)

// Nullable is used in cases where null is a valid field value.
// To omit the field from the API request, the Nullable object itself
// should be nil. To include the field in the request, but explicitly
// set it to null (i.e. clear the field), set inner to nil.
type Nullable[T any] struct {
    inner        *T
}

func (t Nullable[T]) MarshalJSON() ([]byte, error) {
	return json.Marshal(t.inner)
}

func (t Nullable[T]) UnmarshalJSON(in []byte) error {
    return json.Unmarshal(in, t.inner)
}

func (t Nullable[T]) GetValue() T {
    if t.inner == nil {
        var n T
        return n
    }
    return *(t.inner)
}
