{{>partial_header}}
package {{packageName}}

import (
	"encoding/json"
)

// Optional can be passed as an argument to any optional Update*
// method argument to force the JSON marshaler to include
// the field as "null", selectively overriding the "omitempty" tag.
type Optional[T any] struct {
    inner        *T
    marshalNull bool
}

func (t Optional[T]) MarshalJSON() ([]byte, error) {
	if t.marshalNull && t.inner == (*T)(nil) {
		return []byte("null"), nil
	}
	return json.Marshal(t.inner)
}

func (t Optional[T]) UnmarshalJSON(in []byte) error {
    return json.Unmarshal(in, t.inner)
}

func (t Optional[T]) GetValue() T {
    if t.inner == nil {
        var n T
        return n
    }
    return *(t.inner)
}
